/* some style */
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    margin: 4px;
}

ul#menu li a:hover {
    color: yellow;;
}
